<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LEGsGO Admin Page</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<img id="userBackground" th:src="@{/assets/user.jpeg}">
<div id = "userPage">
    <div id="logoDiv">
        <a id="UserTitle" th:href="@{/}">LEGs<span>GO</span> - Bem-vindo <span>[[${#httpServletRequest.remoteUser}]]</span></a>
    </div>
    <br>
    <ul id="userActions">
        <li id="optionsTitle">Ações Disponíveis:</li>
        <li><a class="options" th:href="@{/addEvent}">&#8594; Registar evento</a></li>
        <li><a class="options" th:href="@{/addTime}">&#8594; Registar tempo de um participante</a></li>
    </ul>
</div>
</body>
</html>